.wrapmeup {
  max-width: 960px;
  margin: 0 auto;
}
.block {
  display: inline-block;
}
.question {
  float: left;
  vertical-align: top;
}

.answers {
  float: right;
  vertical-align: top;
}
